.container {
  background-color: #252525;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 100px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.menuIcon {
  display: none;
  /* Ocultar el icono de menú en pantallas grandes */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.darkMode {
  display: flex;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 15px;
}
.navigation div {
  cursor: pointer;
}
.navigation div.selected,
.navigation div:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding-top: 50px;
    transform: translateX(-100%);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  }

  .menuOpen {
    transform: translateX(0);
  }

  .menuIcon {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
    z-index: 1100;
  }

  .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
  }

  .navigation {
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    margin-top: 20px;
  }

  .navigation-item {
    padding: 10px 0;
  }

  .profile {
    margin-top: auto;
    margin-bottom: 20px;
  }
}