.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 520px;
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 1px solid var(--border-color);
}
.container h1 {
  padding-top: 40px;
}
.formContact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 100%;
}
.formContact div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.formContact input,
.formContact textarea {
  border: none;
  padding-bottom: 5px;
  border-bottom: 2px solid #ccc;
  transition: border-color 0.3s;
  background-color: var(--bg-color);
}

.formContact textarea::placeholder {
  font-size: 16px;
}

.formContact input:focus,
.formContact textarea:focus {
  outline: none;
  border-bottom-color: #7e8083;
}

.formContact textarea {
  resize: none;
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button {
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: var(--text-color);
  height: 30px;
  width: 70%;
  background-color: #de6e4b;
}
.button button:hover {
  background-color: #be8979e0;
}
